.video {
    height: 100%;
    width: 100%;
}
.years {
    /* background-image: url('../img/calendar.png');
    background-size: 100% 100%; */
    min-height: 200px;
    border: 2px solid black;
}
td {
    padding: 10px;
    border: 1px solid black;
}
th {
    padding: 10px;
    text-align: center;
}
select, option {
    width: 100%;
}
.name-spec {
    margin-left: 20px;
}
.name-grad {
    margin-left: 40px;
}
table {
    width: 100%;
}