.video {
    height: 100% !important;
    width: 100% !important;
}
.years {
    /* background-image: url('../img/calendar.png');
    background-size: 100% 100%; */
    
    border: 2px solid black;
    background-color: white;
    transition: 2s;
}
.years:hover {
    background-color: rgb(220, 226, 245);
    transition: 2s;
}
td {
    padding: 10px;
    border: 1px solid black;
}
th {
    padding: 10px;
    text-align: center;
}
select, option {
    width: 100%;
}
.name-spec {
    margin-left: 20px;
}
.name-grad {
    margin-left: 40px;
}
table {
    width: 100%;
}